body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
h1 {
  font-size: 32px;
}
canvas {
  border: 1px solid;
  display: block;
}

#ui {
  width: 400px;
  height: 300px;
  border: 1px solid;
}

.modulators {
  width: 500px;
  height: 300px;
  background-color: #DDDDDD;
  margin-top: 20px;
}

.ui-con {
  display: flex;
}

.menu {
  border: 1px solid;
  width: 100px;
  min-height: 100px;
}

.panel {
  border: 1px solid;
  width: 300px;
  min-height: 100px;
}

.item {
  height: 30px;
  background-color: #DDDDDD;
  cursor: pointer;
  display: block;
  margin-bottom: 2px;
  padding: 2px;
}